Repository EESSI/software-layer, pull requests merged in 2023-06, with the labels that each got.

#256 also filter OpenSSL dependency in EasyBuild configuration
  configure_easybuild
Labels: pilot-2023.04

#265 bump EESSI pilot version to 2023.06 + update create_directory_tarballs.sh script to use '2023.06' branch of EESSI/software-layer repo
  .github/workflows/tests_readme.yml
  .github/workflows/tests_scripts.yml
  README.md
  create_directory_tarballs.sh
  init/eessi_defaults
Labels: pilot-2023.06

#271 add GCC/11.2.0 to EESSI pilot 2023.06
  .github/workflows/test_eessi.yml
  EESSI-pilot-install-software.sh
  eessi-2023.06-eb-4.7.2-2021b.yml
Labels: bot:deploy, pilot-2023.06

#276 {2023.06}[2021a] libpng v1.6.37
  eessi-2023.06-eb-4.7.2-2021a.yml
Labels: bot:deploy, pilot-2023.06

#273 {2023.06}[2021b] CMake v3.21.1 + CMake v3.22.1
  eessi-2023.06-eb-4.7.2-2021b.yml
Labels: bot:deploy, pilot-2023.06

#277 {2023.06}[2021a] libjpeg-turbo v2.0.6
  eessi-2023.06-eb-4.7.2-2021a.yml
Labels: bot:deploy, pilot-2023.06

#280 {2023.06}[2021b] zlib v1.2.11
  eessi-2023.06-eb-4.7.2-2021b.yml
Labels: bot:deploy, pilot-2023.06

#279 {2023.06}[2022a] GCC 11.3.0
  .github/workflows/test_eessi.yml
  eessi-2023.06-eb-4.7.2-2022a.yml
Labels: bot:deploy, pilot-2023.06

#282 {2023.06}[2022b] GCC 12.2.0
  .github/workflows/test_eessi.yml
  eessi-2023.06-eb-4.7.2-2022b.yml
Labels: bot:deploy, pilot-2023.06

#287 {2023.06}[2021b] OpenMPI v4.1.1
  eessi-2023.06-eb-4.7.2-2021b.yml
Labels: bot:deploy, pilot-2023.06

#288 {2023.06}[foss/2021a] GROMACS v2021.3
  eessi-2023.06-eb-4.7.2-2021a.yml
Labels: bot:deploy, pilot-2023.06

#278 change upload_policy to 'latest'
  bot/bot-eessi-aws-citc.cfg
Labels: pilot-2023.06
