Repository EESSI/software-layer, pull requests merged in 2023-12, with the labels that each got.

#406 {2023.06}[foss/2023a] Qt5 v5.15.10
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#409 {2023.06} `Nextflow/23.10.0`
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-system.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#412 {2023.06}[2023a] OSU-Micro-Benchmarks v7.1-1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#416 {2023.06} foss/2022b
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-2022b.yml
Labels: bot:deploy, ready-to-deploy, 2023.06-software.eessi.io

#417 {2023.06}[foss/2023a] LHAPDF v6.5.4
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#423 {2023.06}[GCC/12.3.0] LoopTools 2.15
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#426 {2023.06}[gfbf/2023a] R 4.3.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#430 {2023.06}[GCC/12.3.0] Boost 1.82.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#431 {2023.06}[gompi/2023a] netCDF 4.9.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#432 {2023.06}[GCCcore/12.3.0] FFmpeg 6.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#422 {2023.06}[foss/2022b] Qt5 v5.15.7
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#415 Fix permission denied when `echo`ing to `/dev/stdout`
  init/bash
  init/eessi_environment_variables
Labels: bug

#434 Add CUDA, CUDA samples, and CUDA related hooks and lmodrc changes [WIP, do NOT deploy unless sure it works!]
  EESSI-install-software.sh
  bot/build.sh
  create_lmodrc.py
  create_tarball.sh
  easystacks/software.eessi.io/2023.06/README.md
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-001-system.yml
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-010-CUDA.yml
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-2023a.yml
  eb_hooks.py
  eessi_container.sh
  install_scripts.sh
  scripts/gpu_support/nvidia/install_cuda_host_injections.sh
  scripts/gpu_support/nvidia/link_nvidia_host_libraries.sh
Labels: bot:deploy, 2023.06-software.eessi.io

#437 make `link_nvidia_host_libraries.sh` script a bit more robust, in case target of host_injections directory is a non-existing directory
  EESSI-install-software.sh
  scripts/gpu_support/nvidia/link_nvidia_host_libraries.sh
Labels: bot:deploy, 2023.06-software.eessi.io

#439 {2023.06}[2023a] ALL 0.9.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-2023a.yml
Labels: bot:deploy
