Repository EESSI/software-layer, pull requests merged in 2023-09, with the labels that each got.

#326 don't filter cURL as dependency in EasyBuild
  configure_easybuild
  eessi-2023.06-eb-4.7.2-2021a.yml
  eessi-2023.06-eb-4.7.2-2021b.yml
Labels: bot:deploy, pilot-2023.06

#311 fix installation of ReFrame 4.2.0 (include `hpctestlib`) in EESSI pilot 2023.06
  eessi-2023.06-eb-4.7.2-system.yml
Labels: bot:deploy, pilot-2023.06

#316 {2023.06}[foss/2021a] Arrow V6.0.0
  eessi-2023.06-eb-4.7.2-2021a.yml
Labels: bot:deploy, pilot-2023.06

#327 {2023.06}[SYSTEM] Java v11
  .github/workflows/test_eessi.yml
  EESSI-pilot-install-software.sh
  create_tarball.sh
  eessi-2023.06-eb-4.8.0-system.yml
Labels: bot:deploy, pilot-2023.06

#329 {2023.06}[foss/2021a] GDAL v3.3.0
  .github/workflows/test_eessi.yml
  eessi-2023.06-eb-4.8.0-2021a.yml
Labels: bot:deploy, pilot-2023.06, ready-to-deploy

#330 {2023.06}[foss/2021b] OpenFoam v2112
  .github/workflows/test_eessi.yml
  eessi-2023.06-eb-4.8.0-2021b.yml
Labels: pilot-2021.06, bot:deploy

#333 {2023.06} EasyBuild v4.8.1 + re-install Java/11 with it
  .github/workflows/test_eessi.yml
  EESSI-pilot-install-software.sh
  eessi-2023.06-eb-4.8.0-system.yml
  eessi-2023.06-eb-4.8.1-system.yml
Labels: bot:deploy, pilot-2023.06, ready-to-deploy

#335 {2023.06}[foss/2021b] R 4.2.0
  .github/workflows/test_eessi.yml
  eessi-2023.06-eb-4.8.1-2021b.yml
Labels: bot:deploy, pilot-2023.06

#338 {2023.06}[system] ReFrame 4.3.3
  eessi-2023.06-eb-4.8.1-system.yml
Labels: bot:deploy, pilot-2023.06

#341 set `shared_fs_path` for bot on AWS CitC Slurm cluster
  bot/bot-eessi-aws-citc.cfg
Labels: pilot-2023.06

#342 only create & bind build_logs_dir and shared_fs_path if they are specified
  bot/build.sh
Labels: bug, pilot-2023.06

#310 {2023.06} foss/2022a
  .github/workflows/test_eessi.yml
  eb_hooks.py
  eessi-2023.06-eb-4.8.1-2022a.yml
Labels: pilot-2023.06, ready-to-deploy

#345 only increase limit for numerical test failures for OpenBLAS for `aarch64/neoverse_v1`
  eb_hooks.py
Labels: bug, pilot-2023.06

#340 add YAML file to keep track of known issues in EESSI pilot 2023.06
  eessi-2023.06-known-issues.yml
Labels: enhancement, pilot-2023.06
