Repository EESSI/software-layer, pull requests merged in 2023-11, with the labels that each got.

#370 {2023.06}[foss/2022a] DP3 6.0 and WSClean 3.4
  eessi-2023.06-eb-4.8.2-2022a.yml
Labels: bot:deploy, ready-to-deploy

#362 {2023.06}[foss/2022a] matplotlib v3.5.2
  eessi-2023.06-eb-4.8.2-2022a.yml
Labels: bot:deploy, pilot-2023.06

#360 {2023.06}[foss/2021b] LAMMPS 23Jun2022
  eb_hooks.py
  eessi-2023.06-eb-4.8.1-2021b.yml
Labels: bot:deploy, pilot-2023.06

#380 {2023.06} don't filter Lua dependency (and reinstall `gnuplot/5.4.2-GCCcore-11.2.0`)
  configure_easybuild
  eessi-2023.06-eb-4.8.0-2021b.yml
  eessi-2023.06-eb-4.8.2-2022a.yml
Labels: bot:deploy, pilot-2023.06

#339 {2023.06}[foss/2021b] matplotlib v3.4.3
  eessi-2023.06-eb-4.8.2-2021b.yml
Labels: bot:deploy, pilot-2023.06

#388 update script to create init tarball for software.eessi.io
  create_directory_tarballs.sh
Labels: 2023.06-software.eessi.io

#395 Allow archdetect to print all possible cpu paths + fix paths for `aarch64/*` (drop `/arm/` subdir)
  .github/workflows/tests_archdetect.yml
  init/arch_specs/eessi_arch_arm.spec
  init/eessi_archdetect.sh
  tests/archdetect/aarch64/arm/neoverse-n1/AWS-awslinux-graviton2.output
  tests/archdetect/aarch64/arm/neoverse-n1/Azure-Ubuntu20-Altra.output
  tests/archdetect/aarch64/arm/neoverse-v1/AWS-awslinux-graviton3.output
  tests/archdetect/aarch64/neoverse_n1/AWS-awslinux-graviton2.all.output
  tests/archdetect/aarch64/neoverse_n1/AWS-awslinux-graviton2.cpuinfo
  tests/archdetect/aarch64/neoverse_n1/AWS-awslinux-graviton2.output
  tests/archdetect/aarch64/neoverse_n1/Azure-Ubuntu20-Altra.all.output
  tests/archdetect/aarch64/neoverse_n1/Azure-Ubuntu20-Altra.cpuinfo
  tests/archdetect/aarch64/neoverse_n1/Azure-Ubuntu20-Altra.output
  tests/archdetect/aarch64/neoverse_v1/AWS-awslinux-graviton3.all.output
  tests/archdetect/aarch64/neoverse_v1/AWS-awslinux-graviton3.cpuinfo
  tests/archdetect/aarch64/neoverse_v1/AWS-awslinux-graviton3.output
  tests/archdetect/ppc64le/power9le/unknown-power9le.all.output
  tests/archdetect/x86_64/amd/zen2/Azure-CentOS7-7V12.all.output
  tests/archdetect/x86_64/amd/zen3/Azure-CentOS7-7V73X.all.output
  tests/archdetect/x86_64/intel/haswell/archspec-linux-E5-2680-v3.all.output
  tests/archdetect/x86_64/intel/skylake_avx512/archspec-linux-6132.all.output
Labels: 2023.06-software.eessi.io

#392 remove easystack files used for `pilot.eessi-hpc.org`
  eessi-2021.06.yml
  eessi-2021.12.yml
  eessi-2023.06-eb-4.7.2-2021a.yml
  eessi-2023.06-eb-4.7.2-2021b.yml
  eessi-2023.06-eb-4.7.2-2022a.yml
  eessi-2023.06-eb-4.7.2-2022b.yml
  eessi-2023.06-eb-4.7.2-system.yml
  eessi-2023.06-eb-4.8.0-2021a.yml
  eessi-2023.06-eb-4.8.0-2021b.yml
  eessi-2023.06-eb-4.8.0-system.yml
  eessi-2023.06-eb-4.8.1-2021a.yml
  eessi-2023.06-eb-4.8.1-2021b.yml
  eessi-2023.06-eb-4.8.1-2022a.yml
  eessi-2023.06-eb-4.8.1-2023a.yml
  eessi-2023.06-eb-4.8.1-system.yml
  eessi-2023.06-eb-4.8.2-2021b.yml
  eessi-2023.06-eb-4.8.2-2022a.yml
  eessi-2023.06-known-issues.yml
Labels: 2023.06-software.eessi.io

#390 update `eessi_container.sh` script for `software.eessi.io`
  .github/workflows/test_eessi_container_script.yml
  create_tarball.sh
  eessi_container.sh
Labels: 2023.06-software.eessi.io

#397 fix honoring of `$EESSI_SOFTWARE_SUBDIR_OVERRIDE` in `archdetect`
  .github/workflows/tests_archdetect.yml
  init/eessi_archdetect.sh
Labels: 2023.06-software.eessi.io

#391 get rid of 'pilot' terminology in scripts
  .github/workflows/tests_scripts.yml
  EESSI-install-software.sh
  bot/build.sh
  bot/inspect.sh
  install_software_layer.sh
  run_in_compat_layer_env.sh
Labels: 2023.06-software.eessi.io

#396 Allow archdetect to print all possible cpu paths + fix paths for `aarch64/*` (drop `/arm/` subdir)
  .github/workflows/tests_archdetect.yml
  init/arch_specs/eessi_arch_arm.spec
  init/eessi_archdetect.sh
  tests/archdetect/aarch64/arm/neoverse-n1/AWS-awslinux-graviton2.output
  tests/archdetect/aarch64/arm/neoverse-n1/Azure-Ubuntu20-Altra.output
  tests/archdetect/aarch64/arm/neoverse-v1/AWS-awslinux-graviton3.output
  tests/archdetect/aarch64/neoverse_n1/AWS-awslinux-graviton2.all.output
  tests/archdetect/aarch64/neoverse_n1/AWS-awslinux-graviton2.cpuinfo
  tests/archdetect/aarch64/neoverse_n1/AWS-awslinux-graviton2.output
  tests/archdetect/aarch64/neoverse_n1/Azure-Ubuntu20-Altra.all.output
  tests/archdetect/aarch64/neoverse_n1/Azure-Ubuntu20-Altra.cpuinfo
  tests/archdetect/aarch64/neoverse_n1/Azure-Ubuntu20-Altra.output
  tests/archdetect/aarch64/neoverse_v1/AWS-awslinux-graviton3.all.output
  tests/archdetect/aarch64/neoverse_v1/AWS-awslinux-graviton3.cpuinfo
  tests/archdetect/aarch64/neoverse_v1/AWS-awslinux-graviton3.output
  tests/archdetect/ppc64le/power9le/unknown-power9le.all.output
  tests/archdetect/x86_64/amd/zen2/Azure-CentOS7-7V12.all.output
  tests/archdetect/x86_64/amd/zen3/Azure-CentOS7-7V73X.all.output
  tests/archdetect/x86_64/intel/haswell/archspec-linux-E5-2680-v3.all.output
  tests/archdetect/x86_64/intel/skylake_avx512/archspec-linux-6132.all.output
Labels: pilot-2023.06

#398 fix workflow for scripts by bind-mounting repo to `/software-layer`
  .github/workflows/tests_scripts.yml
Labels: 2023.06-software.eessi.io

#393 add initial easystack file for `software.eessi.io` to check on EasyBuild v4.8.2 installation
  bot/check-test.sh
  bot/test.sh
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-system.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#402 {2023.06}[2023a] GCC v12.3.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#403 {2023.06}[foss/2023a] SciPy-bundle v2023.07
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-2023a.yml
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io

#386 {2023.06}[foss/2023a] TensorFlow v2.13.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-2023a.yml
  eb_hooks.py
Labels: bot:deploy, ready-to-deploy, 2023.06-software.eessi.io
