Repository EESSI/software-layer, pull requests merged in 2023-10, with the labels that each got.

#334 {2023.03} foss/2023a
  .github/workflows/test_eessi.yml
  eessi-2023.06-eb-4.8.1-2023a.yml
Labels: bot:deploy, pilot-2023.06

#348 Grant build/command permissions
  bot/bot-eessi-aws-citc.cfg
Labels: pilot-2023.06

#351 determine easystack files to process via PR patch file
  EESSI-pilot-install-software.sh
Labels: pilot-2023.06

#354 {2023.06} get changed/new files from PR.diff file
  EESSI-pilot-install-software.sh
Labels: pilot-2023.06

#355 remove bot configuration (2021.12)
  bot/bot-eessi-aws-citc.cfg
Labels: pilot-2021.12

#356 remove bot configuration (2023.06)
  bot/bot-eessi-aws-citc.cfg
Labels: pilot-2023.06

#350 {2023.06}[foss/2022a] BAMM v2.5.0
  eessi-2023.06-eb-4.8.1-2022a.yml
Labels: bot:deploy, pilot-2023.06

#358 show active EasyBuild configuration when checking for missing installations
  check_missing_installations.sh
Labels: pilot-2023.06

#359 simplify CI workflow to check for missing installations, just loop over easystack files per CPU target
  .github/workflows/test_eessi.yml
Labels: pilot-2023.06

#352 {2023.06}[foss/2022a] SciPy-bundle 2022.05
  eessi-2023.06-eb-4.8.1-2022a.yml
Labels: bot:deploy, pilot-2023.06

#336 {2023.06}[foss/2022b] WRF-dmpar V4.4.1
  eb_hooks.py
  eessi-2023.06-eb-4.7.2-2022b.yml
Labels: bot:deploy, pilot-2023.06

#331 {2023.06}[foss/2022a] ESPResSo v4.2.1
  EESSI-pilot-install-software.sh
  eb_hooks.py
  eessi-2023.06-eb-4.8.1-2022a.yml
  eessi-2023.06-known-issues.yml
Labels: bot:deploy, pilot-2023.06

#364 {2023.06}[2023a] X11 20230603
  eessi-2023.06-eb-4.8.1-2023a.yml
Labels: bot:deploy, pilot-2023.06, ready-to-deploy

#365 fix info on known issue for OpenBLAS on aarch64/neoverse_v1: increased number of *numerical* errors
  eessi-2023.06-known-issues.yml
Labels: bug, pilot-2023.06

#376 {2023.06} EasyBuild v4.8.2 + attempt module loads without cache
  eessi-2023.06-eb-4.8.1-system.yml
  load_easybuild_module.sh
Labels: bot:deploy
