Repository EESSI/software-layer, pull requests merged in 2024-10, with the labels that each got.

#736 {2023.06}[foss/2023a] gmsh v4.12.2, basemap v1.39, geopandas v0.14.2
  create_tarball.sh
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.3-2023a.yml
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io

#768 {2023.06}[foss/2022b] data-lang
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#769 {2023.06}[foss/2023a] ROOT 6.30.06
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy

#774 {2023.06}[foss/2022b] ROOT v6.26.10
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#709 {2023.06}[foss/2023b] GROMACS 2024.3
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.3-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#776 {2023.6}[2023b,a64fx] SciPy-bundle 2023.11
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.4-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#767 enhance archdetect to support detection of NVIDIA GPUs + using that in EESSI init script
  .github/workflows/tests_archdetect_nvidia_gpu.yml
  init/bash
  init/eessi_archdetect.sh
  init/eessi_environment_variables
  tests/archdetect/nvidia-smi/1xa100.output
  tests/archdetect/nvidia-smi/1xa100.sh
  tests/archdetect/nvidia-smi/2xa100.output
  tests/archdetect/nvidia-smi/2xa100.sh
  tests/archdetect/nvidia-smi/4xa100.output
  tests/archdetect/nvidia-smi/4xa100.sh
  tests/archdetect/nvidia-smi/cc01.output
  tests/archdetect/nvidia-smi/cc01.sh
  tests/archdetect/nvidia-smi/no_devices.output
  tests/archdetect/nvidia-smi/no_devices.sh
  tests/archdetect/nvidia-smi/none.output
Labels: bot:deploy, 2023.06-software.eessi.io, accel:nvidia

#778 Rebuild `EESSI-extend` to use `EESSI_SITE_SOFTWARE_PATH`
  .github/workflows/tests_eessi_module.yml
  EESSI-extend-2023.06-easybuild.eb
  easystacks/software.eessi.io/2023.06/rebuilds/20241008-eb-4.9.4-EESSI-extend.yml
  init/eessi_environment_variables
  init/modules/EESSI/2023.06.lua
Labels: enhancement, bot:deploy, 2023.06-software.eessi.io

#779 {2023.06}[foss/2023a] waLBerla 6.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#771 tweak scripts to support building for `dev.eessi.io` repository
  EESSI-install-software.sh
  EESSI-remove-software.sh
  bot/build.sh
  check_missing_installations.sh
  init/minimal_eessi_env
  install_software_layer.sh
  run_in_compat_layer_env.sh
Labels: dev.eessi.io

#782 {2023.6}[2023b,a64fx] ESPResSo 4.2.2 + pyMBE 0.8.0
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.4-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#786 {2023.06}[2023a,a64fx] ROOT 6.30.06
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.4-2023a.yml
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#783 Put a Lmod-relevant wrapper in place for archdetect accelerator detection
  init/lmod_eessi_archdetect_wrapper_accel.sh
  install_scripts.sh
Labels: bot:deploy, 2023.06-software.eessi.io

#772 {2023.06}[foss/2023a] cuDNN 8.9.2.26 w/ CUDA 12.1.1 (part 1)
  EESSI-install-software.sh
  easystacks/software.eessi.io/2023.06/accel/nvidia/eessi-2023.06-eb-4.9.4-2023a-CUDA.yml
  eb_hooks.py
  init/eessi_environment_variables
  install_scripts.sh
  scripts/gpu_support/nvidia/easystacks/eessi-2023.06-eb-4.9.4-2023a-CUDA-host-injections.yml
  scripts/gpu_support/nvidia/install_cuda_and_libraries.sh
Labels: bot:deploy, 2023.06-software.eessi.io, accel:nvidia

#791 {2023.06}[2023a] mpl-ascii v0.10.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#781 Add accelerator detection to Lmod version of EESSI initialisation
  .github/workflows/modules/fake_module.lua
  .github/workflows/tests_eessi_module.yml
  init/modules/EESSI/2023.06.lua
Labels: bot:deploy, 2023.06-software.eessi.io

#794 {2023.06}[2023a] jedi 0.19.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#793 use `TARGET=ARMV8` when building OpenBLAS for `aarch64/generic`
  easystacks/software.eessi.io/2023.06/rebuilds/20241017-eb-4.9.4-OpenBLAS-aarch64-generic.yml
  eb_hooks.py
Labels: bot:deploy, aarch64, 2023.06-software.eessi.io

#790 Use EESSI module in EESSI-install-software.sh
  EESSI-install-software.sh
  scripts/gpu_support/nvidia/install_cuda_and_libraries.sh
Labels: bot:deploy

#797 {2023.06][foss/2023b] Score-P 8.4 (CPU-only)
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.4-2023b.yml
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io
