Repository EESSI/software-layer, pull requests merged in 2024-06, with the labels that each got.

#590 {2023.06}[foss/2022b] ParaView v5.11.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.1-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#592 {2023.06}[foss/2023a] WhatsHap v2.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#595 {2023.06}[gfbf/2022b] ASE v3.22.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.1-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#593 {2023.06,2023b,zen4} SciPy-bundle v2023.11
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.1-2023b.yml
Labels: bot:deploy, ready-to-deploy, 2023.06-software.eessi.io

#594 {2023.06,2023a,zen4} SciPy-bundle v2023.07
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#580 use directory of called script as base dir for other scripts
  bot/inspect.sh
Labels: bug, 2023.06-software.eessi.io

#596 {2023.06}[foss/2023b] NLTK v3.8.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.1-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#597 {2023.06}[foss/2022b] SEPP v4.5.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.1-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#578 Allow `EESSI-extend` as a loaded module when using EasyBuild
  EESSI-extend-2023.06-easybuild.eb
  easystacks/software.eessi.io/2023.06/rebuilds/20240506-eb-4.9.1-EESSI-extend-allow-loaded.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#598 {2023.06,zen4}[foss/2023a] ESPResSo 4.2.1
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#599 {2023.06}[gompi/2023a] BLAST+ v2.14.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#601 {2023.06}[2022b,2023a,2023b] Valgrind v3.21.0 and v3.23.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.1-2022b.yml
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.1-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#602 {2023.06}[foss/2023a] OrthoFinder v2.5.5
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#606 Dynamically create ReFrame config with correct amount of memory
  bot/test.sh
  eessi_container.sh
  test_suite.sh
Labels: enhancement, tests

#607 Fix `--extra-bind-paths` argument in `bot/test.sh`
  bot/test.sh
Labels: tests

#604 {2023.06}[system] EasyBuild v4.9.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.1-001-system.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#610 {2023.06,zen4}[foss/2023a] TensorFlow 2.13.0
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#611 {2023.06,zen4}[foss/2023a] R 4.3.2
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#612 {2023.06,zen4}[foss/2023b] GROMACS 2024.1
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.2-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#614 {2023.06,zen4} add missing installations with foss/2023b
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.2-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#617 {2023.06}[GCCcore/13.2.0] IPython v8.17.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#619 {2023.06}[2023b] dlb v3.4
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#620 {2023.06,a64fx}[2023a] OpenMPI 4.1.5
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#621 use latest Ubuntu in CI workflows
  .github/workflows/test-software.eessi.io.yml
  .github/workflows/test_eessi_container_script.yml
  .github/workflows/test_licenses.yml
  .github/workflows/tests.yml
  .github/workflows/tests_archdetect.yml
  .github/workflows/tests_init.yml
  .github/workflows/tests_readme.yml
  .github/workflows/tests_scripts.yml
Labels: 2023.06-software.eessi.io

#622 {2023.06,a64fx} foss/2023a
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.2-2023a.yml
  eb_hooks.py
Labels: bot:deploy, aarch64, 2023.06-software.eessi.io

#624 {2023.06,a64fx}[foss/2023a] SciPy-bundle 2023.07
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.2-2023a.yml
  eb_hooks.py
  eessi-2023.06-known-issues.yml
Labels: bot:deploy, aarch64, 2023.06-software.eessi.io

#625 {2023.06,a64fx}[foss/2023a] ESPResSo 4.2.2
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, aarch64, 2023.06-software.eessi.io
