Repository EESSI/software-layer, pull requests merged in 2024-02, with the labels that each got.

#468 {2023.06}{GCCcore/12.3.0} BWA 0.7.17.20220923
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-2023a.yml
Labels: bot:deploy

#419 {2023.06}[foss/2022b] GDAL 3.6.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2022b.yml
  eb_hooks.py
  eessi-2023.06-known-issues.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#473 add Lmod hook to set `$OMPI_MCA_btl` to `^smcuda` when loading OpenMPI module to work around bug
  create_lmodrc.py
Labels: bot:deploy, 2023.06-software.eessi.io

#474 {2023.06}[foss/2023a] snakemake 8.4.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#472 {2023.06}[foss/2023a] LAMMPS 2Aug2023
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
  eb_hooks.py
Labels: bot:deploy

#477 fix hook for LAMMPS to filter out ScaFaCoS and tbb dependencies on `aarch64/*`
  eb_hooks.py
Labels: bug, 2023.06-software.eessi.io

#478 {2023.06}[foss/2022b] waLBerla v6.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#480 {2023.06}[foss/2022b] WRF v4.4.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io
