Repository EESSI/software-layer, pull requests merged in 2024-09, with the labels that each got.

#684 {2023.06}[foss/2023a] wradlib v2.0.3
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#687 {2023.06}[foss/2023a] MBX v1.1.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023a.yml
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io

#689 {2023.06}[GCC/12.3.0] Transrate v1.0.3
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#692 {2023.06}[foss/2023b] HPL v2.3
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#691 {2023.06}[foss/2023a] Critic2 v1.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#667 EESSI bash initialization to module file
  .github/workflows/tests_eessi_module.yml
  init/modules/EESSI/2023.06.lua
  install_scripts.sh
Labels: bot:deploy, 2023.06-software.eessi.io

#693 {2023.06}[foss/2023a] LRBinner v0.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#696 Fix typo in `create_lmodsitepackage.py`
  create_lmodsitepackage.py
Labels: bot:deploy

#697 {2023.06,a64fx}[foss/2023a] Highway v1.0.4
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.2-2023a.yml
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#698 {2023.06,a64fx}[foss/2023a] Brunsli v0.1
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#695 {2023.06}[GCC/12.3.0] Redland v1.0.17
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#644 {2023.06}[foss/2023b] Brunsli 0.1, R 4.4.1, R-bundle-CRAN 2024.06
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#700 install_cuda_host_injections: Don't fail if temp dir exists or parent is missing
  scripts/gpu_support/nvidia/install_cuda_host_injections.sh
Labels: bot:deploy

#668 Add new init scripts for new initialization module
  .github/workflows/scripts/test_init_scripts.sh
  .github/workflows/tests_init_module.yml
  init/lmod/bash
  init/lmod/csh
  init/lmod/fish
  init/lmod/ksh
  init/lmod/zsh
  install_scripts.sh
Labels: bot:deploy

#703 {2023.06}[system] EasyBuild v4.9.3
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-001-system.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#704 {2023.06}[2023a,zen4] ALL 0.9.2
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#673 Map tests to software builds
  create_tarball.sh
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2022b.yml
  test_suite.sh
  tests/eessi_test_mapping/map_software_to_test.py
  tests/eessi_test_mapping/software_to_tests.yml
Labels: enhancement

#708 {2023.06}[SYSTEM] ReFrame v4.6.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-001-system.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#707 {2023.6}[2023a,a64fx] LAMMPS 2 Aug2023 for a64fx
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.3-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#705 {2023.06}[2023a,zen4] LAMMPS 2Aug2023 for zen4
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.3-2023a.yml
  eb_hooks.py
Labels: ready-to-deploy, 2023.06-software.eessi.io, zen4

#713 {2023.06}[2023a,zen4] JupyterNotebook v7.0.2
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.3-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#721 Support gpus eessi remove software
  EESSI-remove-software.sh
Labels: gpu

#723 Avoid create_tarball exiting on non-matching grep
  create_tarball.sh
Labels: gpu

#714 use fixed prefix for tmp tarball and compress it
  eessi_container.sh
Labels: bug

#706 {2023.06}[GCCcore/12.2.0-GCC/12.2.0-gompi/2022b-foss/2022b] bio-packages
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#727 {2023.06}[foss/2023a,zen4] OrthoFinder v2.5.5 for zen4
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.3-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#730 {2023.06}[2023a,zen4] Rivet 3.1.9 for zen4
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.3-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#731 {2023.06}[foss/2023a,zen4] GATK v4.5.0.0 for zen4
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.3-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#732 {2023.06}[gfbf/2023a,zen4] ipympl v0.9.3 for zen4
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.3-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#733 {2023.06}[foss/2022b] math-packages
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#734 {2023.06}[foss/2023a,zen4] LHAPDF v6.5.4 for zen4
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.3-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#739 {2023.06}[GCC/12.3.0,zen4] LoopTools 2.15 for zen4
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.3-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#742 {2023.06}[2023a,zen4] ncdu 1.18 for zen4
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.3-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#740 {2023.06}[system] EasyBuild v4.9.4
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.3-001-system.yml
Labels: bot:deploy, aarch64, 2023.06-software.eessi.io, zen4, a64fx

#743 {2023.06} Nextflow/23.10.0 for zen4
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.3-001-system.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#735 {2023.06}[foss/2023a] CUDA 12.1.1 (rebuild) + limit CUDA hook to EESSI installs only, and remove duplication when creating symlinks
  easystacks/software.eessi.io/2023.06/rebuilds/20240918-eb-4.9.3-CUDA-12.1.1-in-accel-prefix.yml
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io, accel:nvidia

#720 {2023.06}[foss/2023a] CUDA 12.1.1 (rebuild)
  easystacks/software.eessi.io/2023.06/rebuilds/20240918-eb-4.9.3-CUDA-12.1.1-in-accel-prefix.yml
Labels: 2023.06-software.eessi.io, accel:nvidia

#745 {2023.06}[foss/2023a,zen4] WhatsHap v2.2 for zen4
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.3-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#719 {2023.06}[foss/2023a] UCX-CUDA v1.14.1 w/ CUDA 12.1.1 (rebuild)
  easystacks/software.eessi.io/2023.06/rebuilds/20240919-eb-4.9.3-uxc-cuda-in-accel-prefix.yml
Labels: bot:deploy, 2023.06-software.eessi.io, accel:nvidia

#715 {2023.06}[foss/2023a] CUDA-Samples v12.1 w/ CUDA 12.1.1 (rebuild)
  easystacks/software.eessi.io/2023.06/rebuilds/20240919-eb-4.9.3-Cuda-Samples-in-accel-prefix.yml
Labels: bot:deploy, 2023.06-software.eessi.io, accel:nvidia

#750 {2023.06}[foss/2023a] UCC-CUDA 1.2.0 w/ CUDA 12.1.1 (rebuild)
  easystacks/software.eessi.io/2023.06/rebuilds/20240925-eb-4.9.3-ucc-cuda-in-accel-prefix.yml
Labels: bot:deploy, 2023.06-software.eessi.io, accel:nvidia

#711 {2023.06}[2023a,GPU] LAMMPS 2Aug2023 CUDA 12.1.1
  easystacks/software.eessi.io/2023.06/accel/nvidia/eessi-2023.06-eb-4.9.3-2023a-CUDA.yml
Labels: bot:deploy, 2023.06-software.eessi.io, accel:nvidia

#716 {2023.06}[foss/2023a] OSU-Microbenchmarks v7.2 w/ CUDA 12.1.1 (rebuild)
  easystacks/software.eessi.io/2023.06/rebuilds/20240919-eb-4.9.3-osu-microbenchmarks-in-accel-prefix.yml
Labels: bot:deploy, 2023.06-software.eessi.io, accel:nvidia

#748 {2023.06}[foss/2023a] ESPResSo 4.2.2 w/ CUDA 12.1.1
  easystacks/software.eessi.io/2023.06/accel/nvidia/eessi-2023.06-eb-4.9.3-2023a-CUDA.yml
Labels: bot:deploy, 2023.06-software.eessi.io, accel:nvidia

#753 Take accelerator builds into account in CI that checks for missing installations
  .github/workflows/test-software.eessi.io.yml
Labels: tests, 2023.06-software.eessi.io, accel:nvidia

#751 {2023.06}[2023a] PyOpenGL 3.1.7 for zen4
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.3-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#758 {2023.06}[system,zen4] EasyBuild v4.9.0 and v4.8.2 for zen4
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.3-001-system.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#757 {2023.06}[foss/2023a,zen4] SAMtools v1.18 for zen4
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.3-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#760 {2023.06}[gompi/2023a,zen4] CDO 2.2.2 for zen4
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.3-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#761 {2023.06}{GCCcore/12.3.0,zen4} BWA 0.7.17.20220923 for zen4
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.3-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#725 {2023.06}[foss/2023b] LAMMPS 29Aug2024
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.3-2023b.yml
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io

#755 {2023.06}[foss/2022b] vis-packages
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#762 move CUDA installations in CPU-only paths to dedicated easyconfigs
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-2023a-CUDA.yml
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-2023a.yml
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a-CUDA.yml
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: 2023.06-software.eessi.io

#764 {2023.06}[2023a,2023b,zen4] Valgrind v3.21.0 and v3.23.0 for zen4
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.3-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#765 Add check for missing Zen4 installations
  .github/workflows/test-software.eessi.io.yml
Labels: 2023.06-software.eessi.io, zen4

#763 {2023.06}[GCCcore/12.2.0] libs-tools
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#747 Allow EESSI-extend to work even when LMOD_EXACT_MATCH is set
  EESSI-extend-2023.06-easybuild.eb
  easystacks/software.eessi.io/2023.06/rebuilds/20240925-eb-4.9.4-EESSI-extend.yml
Labels: enhancement, bot:deploy, 2023.06-software.eessi.io
