Repository EESSI/software-layer, pull requests merged in 2024-08, with the labels that each got.

#655 Rebuild Python with `ctypes` fix + add librosa 0.10.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023a.yml
  easystacks/software.eessi.io/2023.06/rebuilds/20240729-eb-4.9.2-Python-ctypes.yml
Labels: bot:deploy

#627 {2023.06,2023a,zen4} Highway v1.0.4 with fix for failing test
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#657 {2023.06,2023a+2023b,zen4} Rebuild Python + add librosa 0.10.1
  easystacks/software.eessi.io/2023.06/rebuilds/20240801-eb-4.9.2-Python-ctypes-zen4.yml
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, zen4

#656 {2023.06}[foss/2023a] Add SciTools-iris and xarray
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy

#613 {2023.06,zen4}[foss/2023a] R-bundle-Bioconductor 3.18
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#563 {2023.06}[foss/2023a] OpenFOAM v2312
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#658 {2023.06}[GCCcore/12.2.0][GCCcore/12.3.0] BioPerl v1.7.8
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2022b.yml
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#660 {2023.06}[foss/2023a] grpcio v1.57.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023a.yml
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io

#662 {2023.06,zen4}[2023a] BioPerl 1.7.8
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, zen4

#661 {2023.06}[GCCcore/12.2.0] gnuplot v5.4.6
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#659 {2023.06,zen4}[2023a] Modflow 6.4.4
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, zen4

#652 Add a check for the bash shell to `archdetect`
  init/eessi_archdetect.sh
Labels: bot:deploy, ready-to-deploy

#663 {2023.06}[foss/2022b] h5py v3.8.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#665 {2023.06}[GCCcore/12.3.0] orjson v3.9.15
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#672 {2023.06}[system] Add ReFrame for Zen4
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.2-001-system.yml
Labels: bot:deploy, zen4

#670 Fix test_suite not being able to retrieve memory on systems that use cgroups v2
  test_suite.sh
Labels: bug

#674 use upper directory of former 'rw' session in 'ro' mode
  eessi_container.sh
Labels: enhancement, 2023.06-software.eessi.io

#671 {2023.06}[GCC/13.2.0] STAR 2.7.11b
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#666 {2023.06,a64fx}[foss/2023a] OpenFOAM 10, 11, v2312
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#669 Rebuild hatchling-1.18.0-GCCcore-12.3.0
  easystacks/software.eessi.io/2023.06/rebuilds/20240814-eb-4.9.2-hatchling-1.18.0-updated-easyconfig.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#683 Rebuild GObject-Introspection/1.76.1-GCCcore-12.3.0 for A64FX
  easystacks/software.eessi.io/2023.06/rebuilds/20240823-eb-4.9.2-GObject-Introspection-filter-envvars-a64fx.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#681 {2023.06,a64fx}[foss/2023a] R v4.3.2
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx
