Repository EESSI/software-layer, pull requests merged in 2024-11, with the labels that each got.

#807 {2023.06}[2023b] Cython 3.0.10
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.4-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#805 {2023.06}[foss/2023a] Solids4foam-2.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#806 {2023.06}[foss/2023a] Cassiopeia v2.0.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#811 GPU docs have moved
  create_lmodsitepackage.py
Labels: bot:deploy, 2023.06-software.eessi.io

#813 {2023.06}[foss/2023b] Mustache v1.3.3
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.4-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#814 clean `${tmpdir}` after iterations in `install_cuda_and_libraries.sh`
  scripts/gpu_support/nvidia/install_cuda_and_libraries.sh
Labels: bot:deploy, 2023.06-software.eessi.io, accel:nvidia

#818 {2023.06}[foss/2023b] GDRCopy 2.4
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.4-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#820 catch FATAL: messages when checking build result
  bot/check-build.sh
Labels: enhancement, 2023.06-software.eessi.io

#822 {2023.06}[2023b] CUDA 12.4.0 and UCX-CUDA 1.15.0
  easystacks/software.eessi.io/2023.06/accel/nvidia/eessi-2023.06-eb-4.9.4-2023b-CUDA.yml
  eb_hooks.py
  install_scripts.sh
  scripts/gpu_support/nvidia/easystacks/eessi-2023.06-eb-4.9.4-2023b-CUDA-host-injections.yml
Labels: bot:deploy, 2023.06-software.eessi.io, accel:nvidia

#815 {2023.06}[foss/2023b] GROMACS 2024.4
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.4-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#826 {2023.06}[2023a] OpenFOAM v2406
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#570 {2023.06}[2023a] Paraver 4.11.4
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#827 {2023.06}[2023b] SlurmViewer 1.0.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.4-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#831 {2023.06}[2023b] OSU-Micro-Benchmarks 7.5 w/ CUDA 12.4.0
  easystacks/software.eessi.io/2023.06/accel/nvidia/eessi-2023.06-eb-4.9.4-2023b-CUDA.yml
Labels: bot:deploy, 2023.06-software.eessi.io, accel:nvidia

#830 {2023.06}[foss/2023a] LightGBM v4.5.0 w/ CUDA 12.1.1
  easystacks/software.eessi.io/2023.06/accel/nvidia/eessi-2023.06-eb-4.9.4-2023a-CUDA.yml
Labels: bot:deploy, 2023.06-software.eessi.io, accel:nvidia

#832 LAMMPS: Add 2Aug2023_update4 to zen4 hook
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io, zen4
