Repository EESSI/software-layer, pull requests merged in 2024-04, with the labels that each got.

#521 Rebuild GCCcore-12.3.0 and 13.2.0 to fix aarch64 vectorization issue
  easystacks/software.eessi.io/2023.06/rebuilds/20240328-eb-4.9.0-GCCcore-fix-aarch64-vectorization.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#529 {2023.06}[2023a] Highway v1.0.4
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
  eb_hooks.py
  eessi-2023.06-known-issues.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#508 {2023.06}[foss/2023a] Add libxc 6.2.2 and ELPA 2023.05.001
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#428 {2023.06}[foss/2023a] R-bundle-CRAN 2023.12
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#537 {2023.06}[system] EasyBuild v4.9.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.1-001-system.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#538 Add fix for permissions set on Lmod SitePackage
  create_lmodsitepackage.py
Labels: bug, bot:deploy, 2023.06-software.eessi.io

#543 make sure that software directory that corresponds to `$EESSI_SOFTWARE_SUBDIR_OVERRIDE` exists
  EESSI-install-software.sh
Labels: 2023.06-software.eessi.io

#542 Added ncdu
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#553 {2023.06}[foss/2023a] SAMtools v1.18
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#526 {2023.06}[2022b] R-bundle-Bioconductor v3.16
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.1-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#546 Rebuild `hatchling 1.18.0`, `Python 3.11.*`, `Python-bundle-PyPI-2023.*` to solve `setuptools_scm` issue
  easystacks/software.eessi.io/2023.06/rebuilds/20240419-eb-4.9.1-move-setuptools_scm-from-hatchling-to-Python.yml
Labels: ready-to-deploy, 2023.06-software.eessi.io
