Repository EESSI/software-layer, pull requests merged in 2024-01, with the labels that each got.

#441 don't include files in .lmod directory twice in tarball
  create_tarball.sh
Labels: bug, 2023.06-software.eessi.io

#440 {2023.06}[system] EasyBuild v4.9.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-001-system.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#442 {2023.06} foss/2023b
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023b.yml
  eb_hooks.py
Labels: bot:deploy

#443 {2023.06}[foss/2023b] SciPy-bundle v2023.11
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023b.yml
  eb_hooks.py
Labels: bot:deploy

#400 add JSON file + Python script to keep track of software licenses
  .github/workflows/test_licenses.yml
  licenses/README.md
  licenses/licenses.json
  licenses/spdx.py
Labels: 2023.06-software.eessi.io

#446 {2023.06}[foss/2023a] OpenFOAM v11
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#448 {2023.06}[2022b] SciPy-bundle v2023.02
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2022b.yml
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io

#454 {2023.06}[GCCcore/12.3.0] at-spi2-core 2.49.91
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io

#455 {2023.06}[foss/2023a] ESPResSo v4.2.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#450 {2023.06}[GCC/12.3.0] ReFrame v4.3.3
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-001-system.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#453 {2023.06}[gompi/2023b] netCDF v4.9.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023b.yml
  eb_hooks.py
  eessi-2023.06-known-issues.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#458 complete overview of known issues (so far) for software.eessi.io version 2023.06
  eb_hooks.py
  eessi-2023.06-known-issues.yml
Labels: 2023.06-software.eessi.io

#459 {2023.06}[gfbf/2023b] matplotlib v3.8.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#460 only pick a software subdir that is present in the CVMFS repository
  init/eessi_environment_variables
Labels: bug, 2023.06-software.eessi.io

#418 {2023.06}[2023a] Rivet 3.1.9
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#464 {2023.09}[gfbf/2023a] scikit-learn 1.3.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#436 {2023.06}[foss/2022b] QuantumESPRESSO v7.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-2022b.yml
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io

#444 {2023.06}[foss/2023a] PyTorch v2.1.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
  eb_hooks.py
  eessi-2023.06-known-issues.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#427 {2023.06}[gompi/2023a] CDO 2.2.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.8.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#465 bump action versions
  .github/workflows/scorecards.yml
  .github/workflows/test-software.eessi.io.yml
  .github/workflows/test_eessi_container_script.yml
  .github/workflows/test_licenses.yml
  .github/workflows/tests.yml
  .github/workflows/tests_archdetect.yml
  .github/workflows/tests_init.yml
  .github/workflows/tests_readme.yml
  .github/workflows/tests_scripts.yml
Labels: tests, 2023.06-software.eessi.io
