Repository EESSI/software-layer, pull requests merged in 2024-03, with the labels that each got.

#481 {2023.06}[foss/2023a] dask v2023.9.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy

#487 {2023.06}[gompi/2023a,gompi/2023b] OSU Microbenchmarks v 7.1.1, OSU Microbenchmarks v 7.2 w/ CUDA 12.1.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#492 {2023.06}[gompi/2023b] CDO v2.2.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023b.yml
Labels: bot:deploy

#490 Workaround for LMOD only allowing a single hook to be registered, which made our first hook unused
  create_lmodrc.py
Labels: bot:deploy

#495 {2023.06}[2023a] JupyterNotebook v7.0.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#479 {2023.06}[foss/2023b] WSClean 3.4 + DP3 6.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023b.yml
  eb_hooks.py
Labels: bot:deploy

#470 {2023.06}[foss/2022b] ImageMagick v7.1.0-53
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#498 {2023.06}[2023a] ImageMagick v7.1.1-15
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#497 {2023.06}[foss/2023b] python-casacore 3.5.2 + libspatialindex 1.9.3
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023b.yml
Labels: bot:deploy

#502 {2023.06}[foss/2023a] Z3 4.12.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#503 {2023.06}[2023a] PyOpenGL 3.1.7
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#506 fix check_missing_installations.sh when unmerged PR is used
  check_missing_installations.sh
Labels: bug, 2023.06-software.eessi.io

#505 {2023.06}[2023a] ipympl 0.9.3
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#513 {2023.06}[2023b] LittleCMS v2.15, giflib v5.2.1, OpenJPEG v2.5.0, libwebp v1.3.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#511 {2023.06}[2023a] OpenJPEG 2.5.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#516 stick to Apptainer < 1.3.0 for running CI workflows
  install_apptainer_ubuntu.sh
Labels: 2023.06-software.eessi.io

#488 Add functionality for rebuilding software: try it on OpenMPI 4.1.x to fix `smcuda` issue
  EESSI-install-software.sh
  EESSI-remove-software.sh
  bot/build.sh
  create_lmodsitepackage.py
  easystacks/software.eessi.io/2023.06/rebuilds/20240301-eb-4.9.0-OpenMPI-4.1.x-fix-smcuda.yml
  eessi_container.sh
Labels: enhancement, bot:deploy

#404 {2023.06}[foss/2023a] OpenFOAM v10
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#520 {2023.06}[GCCcore/13.2.0] Wayland v1.22.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023b.yml
Labels: bot:deploy

#462 {2023.06}[GCCcore/13.2.0] Qt5 v5.15.13
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#452 {2023.06}[foss/2022b] R v4.2.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io
