Repository EESSI/software-layer, pull requests merged in 2024-07, with the labels that each got.

#626 {2023.06,a64fx} foss/2023b
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.2-2023b.yml
Labels: bot:deploy, aarch64, 2023.06-software.eessi.io

#628 {2023.06}[GCC/12.3.0] BCFtools v1.18
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#631 {2023.06,zen4}[foss/2023a] ParaView 5.11.2
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#618 support for multiple CVMFS repositories in `eessi_container.sh`
  .github/workflows/test_eessi_container_script.yml
  eessi_container.sh
Labels: enhancement

#633 add missing `/cvmfs/` in `$EESSI_CVMFS_REPO_OVERRIDE` defined by `bot/build.sh` and `bot/test.sh`
  bot/build.sh
  bot/test.sh
Labels: 2023.06-software.eessi.io

#636 Remove `/cvmfs/` in path to overlay upper directory in tarball script
  create_tarball.sh
Labels: bug, 2023.06-software.eessi.io

#634 {2023.06}[GCCcore/12.3.0-GCC/12.3.0-gompi/2023a] bio-packages
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#638 rebuild OpenFOAM-10-foss-2023a.eb and OpenFOAM-11-foss-2023a.eb without `-ftree-vectorize`
  easystacks/software.eessi.io/2023.06/rebuilds/20240706-eb-4.9.2-OpenFOAM-no-ftree-vectorize.yml
Labels: bug, bot:deploy, 2023.06-software.eessi.io

#639 {2023.06,zen4}[foss/2023a] OpenFOAM 10 + 11
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#632 {2023.06,a64fx}[foss/2023a] ParaView 5.11.2
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.2-2023a.yml
  eb_hooks.py
Labels: bot:deploy, aarch64, 2023.06-software.eessi.io, a64fx

#641 {2023.06}[gfbf/2023b] pystencils 1.3.4
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#623 Workaround to fix broken curl installation
  init/eessi_environment_variables
Labels: bug, bot:deploy, 2023.06-software.eessi.io

#642 {2023.06}[foss/2023a] MetalWalls 21.06.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#643 Allow initialisation scripts to be used with bash < 4.2
  init/bash
  init/eessi_defaults
  init/eessi_environment_variables
Labels: enhancement, bot:deploy

#640 {2023.06}[foss/2023b] Extrae 4.2.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023b.yml
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io

#648 Use `readlink -f` instead of `realpath` (CentOS6)
  init/eessi_archdetect.sh
  init/eessi_environment_variables
  init/minimal_eessi_env
Labels: enhancement, bot:deploy, 2023.06-software.eessi.io

#630 {2023.06}[foss/2023a] CP2K 2023.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023a.yml
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io

#646 prevent GObject-Introspection from setting EB-filtered environment variables
  easystacks/software.eessi.io/2023.06/rebuilds/20240719-eb-4.9.2-GObject-Introspection-filter-envvars.yml
  eb_hooks.py
Labels: bug, bot:deploy, 2023.06-software.eessi.io

#647 {zen4} prevent GObject-Introspection from setting EB-filtered environment variables
  easystacks/software.eessi.io/2023.06/rebuilds/20240719-eb-4.9.2-GObject-Introspection-filter-envvars-zen4.yml
Labels: bug, bot:deploy, 2023.06-software.eessi.io

#650 {2023.06}[gompi/2023a] amdahl 0.3.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#649 {2023.06}[gompi/2022b] BLAST+ V2.14.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.2-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io
