Repository EESSI/software-layer, pull requests merged in 2024-05, with the labels that each got.

#533 [2023.06]{2023a} R-bundle-Bioconductor v3.18
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#499 {2023.06}[foss/2023b] GROMACS 2024.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.1-2023b.yml
  eb_hooks.py
  eessi-2023.06-known-issues.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#551 update init scripts for pilot repository to print deprecation warning & use `software.eessi.io` instead
  versions/2021.12/init/Magic_Castle/bash
  versions/2021.12/init/bash
  versions/2021.12/init/print_deprecation_warning.sh
  versions/2023.06/init/Magic_Castle/bash
  versions/2023.06/init/bash
  versions/2023.06/init/print_deprecation_warning.sh
Labels: pilot-2021.12, pilot-2023.06

#559 Ship matches for name stubs of `allowlist` for CUDA
  easystacks/software.eessi.io/2023.06/rebuilds/2024.05.06-eb-4.9.1-CUDA-12.1.1-ship-full-runtime.yml
  eb_hooks.py
Labels: bug, bot:deploy, 2023.06-software.eessi.io

#562 bumping scorecard-action version to 2.3.1
  .github/workflows/scorecards.yml
Labels: 2023.06-software.eessi.io

#530 Add possibility to ignore certain hooks on local modules
  create_lmodsitepackage.py
Labels: bot:deploy, 2023.06-software.eessi.io

#371 Easyconfig that can extend EESSI
  EESSI-extend-2023.06-easybuild.eb
  create_tarball.sh
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.1-001-system.yml
  init/Magic_Castle/bash
  init/bash
  init/eessi_environment_variables
  install_scripts.sh
Labels: enhancement, bot:deploy, 2023.06-software.eessi.io

#576 Fix CI: Rebuild GROMACS, and fix check for missing installations after updates upstream to `libfabric`
  configure_easybuild
  easystacks/software.eessi.io/2023.06/rebuilds/20240515-eb-4.9.1-GROMACS-correct-gmxapi-version.yml
Labels: bot:deploy, ready-to-deploy

#573 Only correct the Zen4 software subdirectory if it has not been overridden
  init/eessi_environment_variables
Labels: ready-to-deploy

#566 {2023.06,zen4} foss/2023b
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.1-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#565 {2023.06,zen4} foss/2023a
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#583 Automatically redirect RISC-V users to `riscv.eessi.io` in init script + initial RISC-V support for archdetect
  init/arch_specs/eessi_arch_riscv.spec
  init/eessi_archdetect.sh
  init/eessi_defaults
  init/minimal_eessi_env
  install_scripts.sh
Labels: bot:deploy

#579 Allow overriding the Lmod GPU driver check
  EESSI-install-software.sh
  bot/build.sh
  create_lmodsitepackage.py
  eessi_container.sh
  run_in_compat_layer_env.sh
  scripts/utils.sh
Labels: bot:deploy, 2023.06-software.eessi.io

#560 Show Lmod warning when ESPResSo v4.2.1 is loaded
  create_lmodsitepackage.py
Labels: bot:deploy, 2023.06-software.eessi.io

#588 {2023.06}[foss/2023a] GATK v4.5.0.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#589 Use `LmodMessage` instead of `LmodWarning` on loading ESPResSo v4.2.1
  create_lmodsitepackage.py
Labels: bot:deploy, 2023.06-software.eessi.io
