Repository EESSI/software-layer, pull requests merged in 2025-09, with the labels that each got.

#1152 {2023.06}[2023b,a64fx] apps originally built with EB 4.9.3
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.4-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#1178 {2025.06}[system] M4 1.4.19
  easystacks/software.eessi.io/2025.06/eessi-2025.06-eb-5.1.1-001-system.yml
Labels: bot:deploy, 2025.06-software.eessi.io

#1174 {SYSTEM} trimmomatic-0.39
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-5.1.1-001-system.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#1186 {2023.06}[2023a,a64fx} lit 18.1.2
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#1182 {2023.06}[gfbf/2023a] websockify 0.13.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-5.1.1-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#1176 {2023.06}[2022b,a64fx] remaining apps originally built with EB 4.9.2
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.4-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#1166 Rebuild GROMACS for cuda sanity check
  easystacks/software.eessi.io/2023.06/accel/nvidia/rebuilds/20250828-eb-5.1.1-rebuild-GROMACS-for-cuda-sanity-check.yml
Labels: bot:deploy

#1190 Rebuild UCX UCC, OSU and NCCL for the CUDA 12.1.1 sanity check
  easystacks/software.eessi.io/2023.06/accel/nvidia/rebuilds/20250912-eb-5.1.1-rebuild-UCX-UCC-OSU-CUDA-12.1.1-for-cuda-sanity-check.yml
Labels: bot:deploy, 2023.06-software.eessi.io, accel:nvidia

#1151 {2023.06}[2023b,a64fx] apps originally built with EB 4.9.2
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.2-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#1195 {2025.06}[2024a] ollama 0.6.0
  easystacks/software.eessi.io/2025.06/eessi-2025.06-eb-5.1.1-2024a.yml
Labels: bot:deploy

#1164 {2025.06} `OpenMPI/5.0.3-GCC-13.3.0` + `foss/2024a`
  easystacks/software.eessi.io/2025.06/eessi-2025.06-eb-5.1.1-2024a.yml
Labels: bot:deploy, 2025.06-software.eessi.io

#1202 {2023.06}[2022b,a64fx] Dependencies of Qt5
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.8.2-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#1201 {2023.06}[foss/2023a] WebKitGTK+ v2.41.4
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-5.1.1-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#1204 {2023.06}[a64fx,2022b] Rust 1.65.0
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.4-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#1167 Rebuild LAMMPS
  easystacks/software.eessi.io/2023.06/accel/nvidia/rebuilds/20250828-eb-5.1.1-rebuild-LAMMPS-for-cuda-sanity-check.yml
Labels: bot:deploy

#1205 Rebuild LightGBM for cuda sanity check
  .github/workflows/scripts/compare_to_generic.sh
  .github/workflows/test_compare_stacks.yml
  easystacks/software.eessi.io/2023.06/accel/nvidia/rebuilds/20250926-eb-5.1.1-rebuild-lightGBM-for-cuda-sanity-check.yml
Labels: bot:deploy, 2023.06-software.eessi.io, accel:nvidia

#1206 {2023.06} EasyBuild v5.1.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-5.1.1-001-system.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#1209 {2025.06}[2024a] MetaBAT 2.17
  easystacks/software.eessi.io/2025.06/eessi-2025.06-eb-5.1.1-2024a.yml
Labels: bot:deploy, 2025.06-software.eessi.io
