Repository EESSI/software-layer, pull requests merged in 2025-02, with the labels that each got.

#905 {2023.06}[2023a] archspec 0.2.5
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#907 Improved workaround that solves permission issues for rebuilds
  EESSI-remove-software.sh
Labels: enhancement, 2023.06-software.eessi.io

#788 Rebuild LAMMPS for `*/generic` targets to make sure that CPU-specific optimizations are disabled
  easystacks/software.eessi.io/2023.06/rebuilds/20241015-eb-4.9.4-LAMMPS-generic-builds.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#906 {2023.06}[2023a] Rebuild LAMMPS 2Aug2023_update2 with proper Sapphire Rapids support
  easystacks/software.eessi.io/2023.06/rebuilds/20250203-eb-4.9.4-LAMMPS-2Aug2023-add-support-for-sapphire_rapids.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#877 {2023.06}[foss/2023b] DP3 v6.2, EveryBeam v0.6.1, WSClean v3.5
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.4-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#908 Fix bug when defining multiple modules in app.cfg
  bot/build.sh
  bot/test.sh
Labels: bug

#915 Add CUDA toolkits for zen4_h100
  easystacks/software.eessi.io/2023.06/accel/nvidia/zen4_h100/eessi-2023.06-eb-4.9.4-2023a-CUDA.yml
  easystacks/software.eessi.io/2023.06/accel/nvidia/zen4_h100/eessi-2023.06-eb-4.9.4-2023b-CUDA.yml
Labels: accel:nvidia

#919 {2023.06}[2023a,2023b] rebuild CUDA/* module files (take 2)
  EESSI-remove-software.sh
  easystacks/software.eessi.io/2023.06/accel/nvidia/rebuilds/20250215-eb-4.9.4-CUDA-update-module-files.yml
Labels: bot:deploy, 2023.06-software.eessi.io, accel:nvidia

#798 adjust SitePackage.lua for multiple CUDA/cu* modules
  create_lmodsitepackage.py
Labels: bot:deploy, 2023.06-software.eessi.io, accel:nvidia

#914 Rebuild R-bundle-CRAN-2023.12 to sync extensions between CPU targets
  easystacks/software.eessi.io/2023.06/rebuilds/20250212-eb-4.9.4-R-bundle-CRAN-2023.12-rebuild-to-sync-exts-between-archs.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#921 {2023.06}[system,sapphirerapids] EasyBuild 4.8.2, 4.9.0, 4.9.1, 4.9.2, 4.9.3, 4.9.4
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.9.4-001-system.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#923 {2023.06}[2022b,sapphirerapids] foss 2022b
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.8.2-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#927 {2023.06}[2022b,sapphirerapids] HarfBuzz 5.3.1, Qt5 5.15.7, QuantumESPRESSO 7.2
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.8.2-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#925 {2023.06}[2023a,sapphirerapids] foss 2023a
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.8.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#928 {2023.06}[system,sapphirerapids] Nextflow 23.10.0, ReFrame 4.3.3 + 4.6.2
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.8.2-001-system.yml
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.9.0-001-system.yml
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.9.2-001-system.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#931 {2023.06}[2023b,sapphirerapids] Remaining EB 4.9.0 2023b apps
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.9.0-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#929 {2023.06}[2023a,sapphirerapids] Remaining apps for 2023a with EB 4.8.2
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.8.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#930 {2023.06}[2022b,sapphirerapids] Easystack for 2022b with EB 4.9.0
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.9.0-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#932 {2023.06}[2023a,sapphirerapids] Batch of EB 4.9.0 2023a apps
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#933 {2023.06} Rebuilds of hatchling and Python for Sapphire Rapids
  easystacks/software.eessi.io/2023.06/rebuilds/20250223-eb-4.9.1-move-setuptools_scm-from-hatchling-to-Python-sapphirerapids.yml
  easystacks/software.eessi.io/2023.06/rebuilds/20250223-eb-4.9.2-hatchling-1.18.0-updated-easyconfig-sapphirerapids.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#938 Rebuild Python with ctypes fix for Sapphire Rapids
  easystacks/software.eessi.io/2023.06/rebuilds/20250224-eb-4.9.2-Python-ctypes-sapphirerapids.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#934 {2023.06}[2023a,sapphirerapids] Add remaining EB 490 2023a apps
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.9.0-2023a.yml
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#940 {2023.06}[2022b,sapphirerapids] Add EB 4.9.2 easystack for 2022b
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.9.2-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#942 {2023.06}[2023a,sapphirerapids] OpenFOAM 10 and 11
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#941 {2023.06}[2023a,sapphirerapids] R-bundle-CRAN 2023.12
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#943 {2023.06}[2023a,sapphirerapids] Add EB 4.9.1 easystack for 2023a
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#939 {2023.06}[2023b,sapphirerapids] Add EB 4.9.2 easystack for 2023b
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.9.2-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#947 {2023.06}[2023b,sapphirerapids] EB 4.9.4 easystack for 2023b
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.9.4-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#946 {2023.06}[2023b,sapphirerapids] Add EB 4.9.3 easystack for 2023b
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.9.3-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#951 Remove `sapphire_rapids` easystacks
  easystacks/software.eessi.io/2023.06/rebuilds/20250203-eb-4.9.4-LAMMPS-2Aug2023-add-support-for-sapphire_rapids.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.8.2-001-system.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.8.2-2022b.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.8.2-2023a.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-001-system.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-2022b.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-2023a.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-2023b.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.1-2022b.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.1-2023a.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.1-2023b.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.2-001-system.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.2-2022b.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.2-2023a.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.2-2023b.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.3-2023a.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.3-2023b.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.4-001-system.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.4-2022b.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.4-2023a.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.4-2023b.yml
Labels: 2023.06-software.eessi.io, sapphirerapids

#950 {2023.06}[2023a, sapphirerapids] archspec 0.2.1
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#944 {2023.06}[2023a,sapphirerapids] R-bundle-Bioconductor 3.18
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#945 {2023.06}[2023a,sapphirerapids] Batch of apps for EB 4.9.2 / 2023a
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#956 {2023.06}[2023a,sapphirerapids] Rebuild Z3 with Python bindings for Sapphire Rapids
  easystacks/software.eessi.io/2023.06/rebuilds/20250228-eb-4.9.2-rebuild-z3-with-python-bindings-sapphirerapids.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#957 {2023.06}[2023b] Rebuild `scikit-build-core` to include additional extension
  easystacks/software.eessi.io/2023.06/rebuilds/20250228-eb-4.9.4-scikit-build-core-add-pyproject-metadata.yml
Labels: bot:deploy, 2023.06-software.eessi.io
