Repository EESSI/software-layer, pull requests merged in 2025-04, with the labels that each got.

#916 {2023.06}[2023b] astropy 7.0.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.4-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#992 {2023.06}[2023b,grace] apps originally built with EB 4.9.3
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#991 {2023.06}[2023a,grace] Further apps from EB 4.9.0 2023a easystack
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#993 {2023.06}[2023b,grace] a couple of apps built with EB 4.9.4
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#996 {2023.06}[system,2023b,grace] a few remaining apps for the system and 2023b toolchains
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-001-system.yml
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#995 {2023.06}[2023a,grace] Remaining apps from EB 4.9.0 2023a easystack
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2023a.yml
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#997 {2023.06}[2023b,CUDA,grace] CUDA/12.4, UCX-CUDA/1.15.0, UCC-CUDA/1.2.0, OSU-Micro-Benchmarks-7.5 w/ CUDA
  EESSI-install-software.sh
  easystacks/software.eessi.io/2023.06/grace/accel/nvidia/eessi-2023.06-eb-4.9.4-2023b-CUDA.yml
Labels: bot:deploy, 2023.06-software.eessi.io, accel:nvidia, grace_hopper

#998 {2023.06}[2023a,grace] Apps from EB 4.9.1 2023a easystack
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#1002 {2023.06}[2023a,grace] Apps from EB 4.9.2 2023a easystack
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#1003 {2023.06}[2022b,grace] foss 2022b, HarfBuzz 5.3.1
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#1004 {2023.06}[2023a,grace] Apps from EB 4.9.3 2023a easystack
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#1005 {2023.06}[2022b,grace] Qt5 5.15.7
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.8.2-2022b.yml
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#1007 {2023.06}[2023a,grace] rebuild R-bundle-Bioconductor-3.18 in 2023a easystack
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#966 {2023.06}[foss/2023a] Siesta 5.2.2, EasyBuild 5.0.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-5.0.0-2023a.yml
Labels: bot:deploy

#1008 {2023.06}[2022b,grace] QuantumESPRESSO 7.2
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.8.2-2022b.yml
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#1015 {2023.06}[2023a,grace] add GDRCopy/2.3.1 in 2023a easystack
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#1016 {2023.06}[2023a,grace] add Perl-bundle-CPAN/5.36.1 in 2023a easystack
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#1012 {2023.06}[2023a,CUDA,grace] CUDA/12.1.1, cuDNN/8.9.2.26, CUDA-Samples/12.1 + apps with CUDA
  easystacks/software.eessi.io/2023.06/grace/accel/nvidia/eessi-2023.06-eb-4.9.4-2023a-CUDA.yml
Labels: bot:deploy, 2023.06-software.eessi.io, accel:nvidia, grace_hopper

#1017 {2023.06}[2023a,grace] add Siesta/5.2.2 in 2023a easystack
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-5.0.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#1018 {2023.06}[2023a,grace] sync with EESSI EB 4.9.4 easystack
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#1019 {2023.06}[foss/2023a] Rebuild Siesta 5.2.2, EasyBuild 5.0.0
  easystacks/software.eessi.io/2023.06/rebuilds/20250410-eb-5.0.0-siesta-rebuild-with-controlled-optimisations.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#1020 {2023.06}[2023a,grace] Rebuild Siesta/5.2.2 in 2023a easystack
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-5.0.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#1022 add Lmod hook that prints warning for SciPy-bundle on NVIDIA Grace
  bot/test.sh
  create_lmodsitepackage.py
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#1025 {2023.06}[system,a64fx] circumvent fusemount issue, improve module use, and add some packages
  EESSI-install-software.sh
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.4-001-system.yml
  eessi_container.sh
Labels: bug, enhancement, bot:deploy, 2023.06-software.eessi.io, a64fx

#1026 {2023.06}[2022b,grace] apps originally built with EB 4.9.1
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#1029 {2023.06}[2022b,grace] apps originally built with EB 4.9.2
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#1031 {2023.06}[2022b,grace] remaining apps originally built with EB 4.9.2
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#1028 {2023.06}[2023a,a64fx] apps originally built with EB 4.8.2
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#1033 {2023.06}[2023a,a64fx] second part of apps originally built with EB 4.8.2
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#1034 {2023.06}[2023a,a64fx] add TensorFlow 2.13
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.4-2023a.yml
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx, ready-to-review

#1038 {2023.06}[2023a,a64fx] first part of apps originally built with EB 4.9.0
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#1039 {2023.06}[SYSTEM,icelake+cascadelake] EasyBuild 4.8.2 + 4.9.0 + 4.9.1 + 4.9.4 + 5.0.0, EESSI-extend
  EESSI-install-software.sh
  EESSI-remove-software.sh
  easystacks/software.eessi.io/2023.06/icelake_cclake/001-eb-4.9.4.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/005-eb-4.9.4.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/018-eb-4.9.4.yml
  scripts/gpu_support/nvidia/install_cuda_and_libraries.sh
Labels: bot:deploy, 2023.06-software.eessi.io, icelake, cascadelake

#1045 {2023.06}[2023a,grace] Z3 v4.12.2
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#1044 Remove eessi startup hook that errors on CUDA being moved from CPU prefixes
  create_lmodsitepackage.py
Labels: bot:deploy, 2023.06-software.eessi.io

#1032 {2023.06}[2023a] bcgTree 1.2.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-5.0.0-2023a.yml
Labels: bot:deploy, aarch64, 2023.06-software.eessi.io, zen4, sapphirerapids, grace

#885 Add dev.eessi.io support including project subdirectories
  EESSI-install-software.sh
  bot/build.sh
  bot/inspect.sh
  create_tarball.sh
  eessi_container.sh
  run_in_compat_layer_env.sh
Labels: enhancement, dev.eessi.io

#1042 Add support in archdetect for detecting NVIDIA/Grace
  .github/workflows/tests_archdetect.yml
  init/arch_specs/eessi_arch_arm.spec
  tests/archdetect/aarch64/google/axion/GCP-axion.all.output
  tests/archdetect/aarch64/google/axion/GCP-axion.cpuinfo
  tests/archdetect/aarch64/google/axion/GCP-axion.output
  tests/archdetect/aarch64/nvidia/grace/Jureca-Rocky95.all.output
  tests/archdetect/aarch64/nvidia/grace/Jureca-Rocky95.cpuinfo
  tests/archdetect/aarch64/nvidia/grace/Jureca-Rocky95.output
Labels: bot:deploy, aarch64, 2023.06-software.eessi.io, grace

#1047 {2023,06}[icelake, cascadelake] EasyStacks batch 2: 004 - 007
  easystacks/software.eessi.io/2023.06/icelake_cclake/001-eb-4.9.4.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/002-eb-4.9.1.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/003-eb-4.9.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/004-eb-4.9.0.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/005-eb-4.8.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/006-eb-4.9.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/007-eb-4.8.2.yml
Labels: bot:deploy, 2023.06-software.eessi.io, icelake, cascadelake

#1009 Rebuild `hatchling-1.18.0-GCCcore-13.2.0`, add `aarch64/nvidia/grace` to check for comparing software stacks
  .github/workflows/test_compare_stacks.yml
  easystacks/software.eessi.io/2023.06/rebuilds/20250425-eb-4.9.4-hatchling-1.18.0-updated-easyconfig-grace.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#1040 {2023.06}[2023a,a64fx] add remaining apps originally built with EB 4.9.0
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.4-2023a.yml
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx, ready-to-review

#1048 {2023,06}[icelake, cascadelake] EasyStacks batch 3: 008 - 014
  easystacks/software.eessi.io/2023.06/icelake_cclake/008-eb-4.9.0.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/009-eb-4.8.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/010-eb-4.9.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/011-eb-4.8.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/012-eb-4.9.1.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/013-eb-4.8.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/014-eb-4.9.2.yml
Labels: bot:deploy, 2023.06-software.eessi.io, icelake, cascadelake

#1052 {2023,06}[2023a, icelake, cascadelake] SciPy-Bundle v2023.07
  easystacks/software.eessi.io/2023.06/icelake_cclake/015-eb-4.9.4.yml
Labels: bot:deploy, 2023.06-software.eessi.io, icelake, cascadelake

#1053 {2023.06}[icelake, cascadelake] EasyStacks batch 4: 016
  easystacks/software.eessi.io/2023.06/icelake_cclake/016-eb-4.8.2.yml
Labels: bot:deploy, 2023.06-software.eessi.io, icelake, cascadelake

#1054 {2023.06}[icelake,cascadelake] EasyStacks batch 5: 017 - 023
  easystacks/software.eessi.io/2023.06/icelake_cclake/017-eb-4.9.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/018-eb-4.8.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/019-eb-4.8.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/020-eb-4.9.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/021-eb-4.8.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/022-eb-4.9.0.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/023-eb-4.8.2.yml
Labels: bot:deploy, 2023.06-software.eessi.io, icelake, cascadelake

#1055 {2023.06}[icelake,cascadelake] EasyStacks batch 6: 024 - 027
  easystacks/software.eessi.io/2023.06/icelake_cclake/024-eb-4.9.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/025-eb-4.8.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/026-eb-4.9.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/027-eb-4.8.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/028-eb-4.9.0.yml
Labels: bot:deploy, 2023.06-software.eessi.io, icelake, cascadelake
