Repository EESSI/software-layer, pull requests merged in 2025-01, with the labels that each got.

#608 add support in archdetect for detecting A64FX
  .github/workflows/tests_archdetect.yml
  init/arch_specs/eessi_arch_arm.spec
  init/eessi_archdetect.sh
  tests/archdetect/aarch64/a64fx/Deucalion-Rocky85.all.output
  tests/archdetect/aarch64/a64fx/Deucalion-Rocky85.cpuinfo
  tests/archdetect/aarch64/a64fx/Deucalion-Rocky85.output
Labels: bot:deploy, aarch64, 2023.06-software.eessi.io, a64fx

#846 {2023.06}[2023a] elfx86exts 0.6.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#840 Let 2023.06 modulefile redirect RISC-V clients to riscv.eessi.io, add symlink for 20240402 version
  init/modules/EESSI/2023.06.lua
  init/modules/EESSI/20240402.lua
Labels: enhancement, bot:deploy, riscv

#851 {2023.06}[system,sapphire_rapids] EasyBuild 4.8.2, 4.9.0, 4.9.1, 4.9.2, 4.9.3, 4.9.4
  EESSI-install-software.sh
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.4-001-system.yml
  load_eessi_extend_module.sh
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#852 {2023.06}{system,2022b,2023a,2023b,sapphire_rapids} First batch of builds for Sapphire Rapids
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.8.2-001-system.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.8.2-2022b.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-2023a.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-2023b.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.4-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#853 {2023.06}{2022b, sapphire_rapids} GObject-Introspection 1.74.0
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.8.2-2022b.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.2-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#855 {2023.06}[2022b,2023a,2023b,sapphire_rapids] OpenMPI 4.1.4 + 4.1.5 + 4.1.6
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.8.2-2022b.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-2022b.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-2023a.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#856 {2023.06}[2023a, 2023b, sapphire_rapids] Python 3.11 and hatchling 1.18.0
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.8.2-2023a.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-2023b.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.1-2023a.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.1-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#854 {2023.06}[2022b,sapphire_rapids] foss 2022b, HarfBuzz 5.3.1, Qt5, 5.15.7, QuantumESPRESSO 7.2
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.8.2-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#858 {2023.06}[2023a,2023b,sapphire_rapids] GObject-Introspection and at-spi2-core + dependencies
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.8.2-2023a.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-2023b.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.2-2023a.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.2-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#857 {2023.06}[2023a,2023b,sapphire_rapids] Python-bundle-PyPI + dependencies
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.8.2-2023a.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-2023b.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.1-2023a.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.1-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#861 {2023.06}[2022b,2023a,2023b,sapphire_rapids] Rebuild Python versions with ctypes fix
  easystacks/software.eessi.io/2023.06/rebuilds/20250119-eb-4.9.2-Python-ctypes-sapphire_rapids.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#859 {2023.06}[system,sapphire_rapids] ReFrame 4.3.3 + 4.6.2
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-001-system.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.2-001-system.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#862 {2023.06}[2023a,sapphire_rapids] Rebuild hatchling 1.18.0
  easystacks/software.eessi.io/2023.06/rebuilds/20250120-eb-4.9.2-hatchling-1.18.0-updated-easyconfig-sapphire_rapids.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#860 {2023.06}[2023b, sapphire_rapids] GROMACS 2024.1 + dependencies
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-2023b.yml
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.1-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#865 {2023.06}[2023b, sapphire_rapids] Bunch of apps from EB 4.9.0 2023b easystack
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#864 {2023.06}[2023a, sapphire_rapids] TensorFlow 2.13.0
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.8.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#867 {2023.06}[2023b, sapphire_rapids] Remaining apps from EB 4.9.0 2023b easystack
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#863 {2023.06}[2022b,sapphire_rapids] All (missing) apps from EB 4.9.0 2022b easystack
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#868 {2023.06}[2023a, sapphire_rapids] Remaining apps from EB 4.8.2 2023a easystack
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.8.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#870 {2023.06}[2023b, sapphire_rapids] Remaining apps from EB 4.9.1 2023b easystack
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.1-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#866 {2023.06}[2023a] Rebuild SciPy-bundle 2023.07 with additional patches
  EESSI-install-software.sh
  EESSI-remove-software.sh
  easystacks/software.eessi.io/2023.06/rebuilds/20250121-eb-4.9.4-SciPy-bundle-2023.07-bug-fixes.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#869 {2023.06}[2022b, sapphire_rapids] All apps from EB 4.9.1 2022b easystack
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.1-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#875 {2023.06}[2023a, sapphire_rapids] ESPResSO 4.2.1, Rivet 3.1.9
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#878 {2023.06}[2022b,sapphire_rapids] Remaining apps from EB 4.9.2 2022b easystack
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.2-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#876 {2023.06}[2023b, sapphire_rapids] Bunch of apps from EB 4.9.2 2023b easystack
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.2-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#883 {2023.06}[2023a,sapphire_rapids] scikit-learn 1.3.1, snakemake 8.4.2, LAMMPS 2Aug2023_update2
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#882 {2023.06}[2023a,sapphire_rapids] PyTorch 2.1.2
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-2023a.yml
  eb_hooks.py
  eessi-2023.06-known-issues.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#884 {2023.06}[2023b,sapphire_rapids] STAR 2.7.11b, HPL 2.3, R-bundle-CRAN 2024.06
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.2-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#887 {2023.06}[2023a,sapphire_rapids] Another batch of apps for EB 4.9.0 and 2023a
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#888 {2023.06}[2023b,sapphire_rapids] GROMACS 2024.3
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.3-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#874 Generate and hide zen4 foss2022b modules
  .github/workflows/test-software.eessi.io.yml
  create_lmodsitepackage.py
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.8.2-2022b.yml
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.0-2022b.yml
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.1-2022b.yml
  easystacks/software.eessi.io/2023.06/zen4/eessi-2023.06-eb-4.9.2-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#892 {2023.06}[2023a,sapphire_rapids] Another batch of apps from EB 4.9.0 2023a easystack
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#891 {2023.06}[2023b,sapphire_rapids] All apps from EB 4.9.4 2023b easystack
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.4-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#766 disable using `x86_64/amd/zen3` installations when `x86_64/amd/zen4` is detected
  init/eessi_environment_variables
  init/modules/EESSI/2023.06.lua
Labels: bot:deploy, 2023.06-software.eessi.io, zen4

#893 {2023.06}[2023a,sapphire_rapids] R-bundle-CRAN 2023.12
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#895 {2023.06}[2023a,sapphire_rapids] Remaining apps from EB 4.9.1 2023a easystack
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#896 {2023.06}[2023a,sapphire_rapids] First batch of (bioinformatics) apps from EB 4.9.2 2023a easystack
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#897 {2023.06}[2023a,sapphire_rapids] Remaining apps for EB 4.9.2 2023a easystack (except librosa)
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#899 {2023.06}[2023a,sapphire_rapids] All apps from EB 4.9.3 2023a easystack
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.3-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#898 {2023.06}[2023a] librosa 0.10.1
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#900 {2023.06}[2023a,sapphire_rapids] All apps from EB 4.9.4 2023a easystack
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids

#901 {2023.06}[2023b,sapphire_rapids] LAMMPS 29Aug2024
  easystacks/software.eessi.io/2023.06/sapphire_rapids/eessi-2023.06-eb-4.9.3-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphire_rapids
