Repository EESSI/software-layer, pull requests merged in 2025-03, with the labels that each got.

#954 {2023.06}[2023a,sapphirerapids] Remaining apps for EB 4.9.2 2023a easystack
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.9.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#952 {2023.06}[2023a,sapphirerapids] Add EB 4.9.3 easystack for 2023a
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.9.3-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#958 {2023.06}[2023a] Rebuild R-bundle-Bioconductor 3.18 to sync the set of extensions between all CPU targets
  easystacks/software.eessi.io/2023.06/rebuilds/20250228-eb-4.9.4-R-bundle-Bioconductor-additional-extensions.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#953 {2023.06}[2023a,sapphirerapids] Remaining apps for EB 4.9.4 / 2023a
  easystacks/software.eessi.io/2023.06/sapphirerapids/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, sapphirerapids

#959 {2023.06}[2023a] OpenCV 4.8.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#960 {2023.06}[2023a] Explicitly add missing GDRCopy and Z3 versions to EB 4.9.0 easystack (and build them for zen4+sapphirerapids)
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#889 Add Intel Sapphire Rapids support to archdetect
  .github/workflows/tests_archdetect.yml
  init/arch_specs/eessi_arch_x86.spec
  tests/archdetect/x86_64/intel/sapphirerapids/AWS-Rocky8-8488C.all.output
  tests/archdetect/x86_64/intel/sapphirerapids/AWS-Rocky8-8488C.cpuinfo
  tests/archdetect/x86_64/intel/sapphirerapids/AWS-Rocky8-8488C.output
Labels: enhancement, 2023.06-software.eessi.io, sapphirerapids

#961 Deploy archdetect spec file that was updated in #889
  init/arch_specs/eessi_arch_x86.spec
Labels: bot:deploy, 2023.06-software.eessi.io

#962 Add Lmod startup hook that prints an error when loading removed/relocated modules
  create_lmodsitepackage.py
Labels: bot:deploy, 2023.06-software.eessi.io

#965 Improve error message in CUDA host injection script
  scripts/gpu_support/nvidia/install_cuda_host_injections.sh
Labels: bot:deploy

#922 Updated link_nvidia_host_libraries.sh for better edge case handling
  .github/workflows/tests_link_nvidia_host_libraries.yml
  scripts/gpu_support/nvidia/link_nvidia_host_libraries.sh
  tests/nvidia-libs/mock-nvidia-libs.sh
  tests/nvidia-libs/mock-nvidia-smi.sh
Labels: bot:deploy

#970 {2023.06}[2023a] Add FALL3D 9.0.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#975 {2023.06}[system,grace] NextFlow 23.10.0, ReFrame 4.6.2
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.8.2-001-system.yml
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.2-001-system.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#977 {2023.06}[2023b,grace] foss 2023b
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.0-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#981 {2023.06}[system,grace] EasyBuild 4.8.2, 4.9.0, 4.9.1, 4.9.2, 4.9.3, 4.9.4, NextFlow 23.10.0, ReFrame 4.3.3, ReFrame 4.6.2
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.8.2-001-system.yml
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.2-001-system.yml
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-001-system.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#972 Add handling of the same-name libraries on different locations for link_nvidia_host_libraries.sh
  .github/workflows/tests_link_nvidia_host_libraries.yml
  scripts/gpu_support/nvidia/link_nvidia_host_libraries.sh
  tests/nvidia-libs/mock-nvidia-libs.sh
Labels: bot:deploy

#984 {2023.06}[2023b] lit 18.1.7
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.4-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#976 {2023.06}[foss/2023a] add 'lit' a new missing dependency for R-bundle-CRAN/2023.12-foss-2023a
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#983 {2023.06}[2023a,grace] foss 2023a, Rust 1.70.0
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#978 {2023.06}[2023b,grace] Remaining apps originally built with EB 4.9.0
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2023b.yml
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#986 {2023.06}[2023a,grace] Remaining apps from EB 4.8.2 2023a easystack
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#987 {2023.06}[2023b,grace] Apps originally built with EB 4.9.1
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#989 {2023.06}[2023b,grace] apps originally built with EB 4.9.2 + changes to bot/build.sh and eessi_container.sh
  bot/build.sh
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2023b.yml
  eessi_container.sh
Labels: bot:deploy, 2023.06-software.eessi.io, grace

#990 {2023.06}[2023a,grace] Apps from EB 4.9.0 2023a easystack
  easystacks/software.eessi.io/2023.06/grace/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, grace
