Repository EESSI/software-layer, pull requests merged in 2025-05, with the labels that each got.

#1056 {2023.06}[icelake,cascadelake] EasyStacks batch 7: 028 - 034
  easystacks/software.eessi.io/2023.06/icelake_cclake/029-eb-4.9.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/030-eb-4.9.0.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/031-eb-4.9.1.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/032-eb-4.9.0.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/033-eb-4.9.1.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/034-eb-4.9.0.yml
Labels: bot:deploy, 2023.06-software.eessi.io, icelake, cascadelake

#1050 {2023.06}[2023b,a64fx] apps originally built with EB 4.9.0
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.4-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#1051 {2023.06}[2022b,a64fx] foss/2022b
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.4-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#1049 {2023.06}[2023a,a64fx] apps originally built with EB 4.9.1
  det_submit_opts.py
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#1057 {2023.06}[2023a,icelake,cascadelake] PyTorch v2.1.2
  easystacks/software.eessi.io/2023.06/icelake_cclake/035-eb-4.9.0.yml
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io, icelake, cascadelake

#1063 {2023.06}[icelake,cascadelake] EasyStacks batch 10: 039 - 048
  easystacks/software.eessi.io/2023.06/icelake_cclake/039-eb-4.8.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/040-eb-4.9.0.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/041-eb-4.8.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/042-eb-4.9.0.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/043-eb-4.9.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/044-eb-4.9.0.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/045-eb-4.9.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/046-eb-4.9.0.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/047-eb-4.9.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/048-eb-4.9.0.yml
Labels: bot:deploy, 2023.06-software.eessi.io, icelake, cascadelake

#1064 {2023.06}[icelake,cascadelake] EasyStacks batch 11: 049
  easystacks/software.eessi.io/2023.06/icelake_cclake/049-eb-4.9.4.yml
Labels: bot:deploy, 2023.06-software.eessi.io, icelake, cascadelake

#1062 Rebuild R 4.2.2 and 4.3.2 to include patch for CVE
  easystacks/software.eessi.io/2023.06/rebuilds/20250501-eb-4.9.4-R-4.2.2-and-4.3.2-fix-CVE.yml
Labels: bot:deploy, 2023.06-software.eessi.io, ready-to-review

#1066 {2023.06}[system] Nextflow 24.10.2
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-5.0.0-001-system.yml
Labels: bot:deploy, 2023.06-software.eessi.io, ready-to-review

#1069 {2023.06}[icelake,cascadelake] EasyStacks batch 13: 052 - 055
  easystacks/software.eessi.io/2023.06/icelake_cclake/052-eb-4.9.4.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/053-eb-4.9.1.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/054-eb-4.9.4.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/055-eb-4.9.1.yml
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io, icelake, cascadelake

#1070 {2023.06}[icelake,cascadelake] EasyStacks batch 14: 056
  easystacks/software.eessi.io/2023.06/icelake_cclake/056-eb-4.9.2.yml
Labels: bot:deploy, 2023.06-software.eessi.io, icelake, cascadelake

#1078 {2023.06}[icelake,cascadelake] EasyStacks batch 14b: 057 - QuantumESPRESSO 7.3.1
  easystacks/software.eessi.io/2023.06/icelake_cclake/057-eb-4.9.2.yml
Labels: bot:deploy, 2023.06-software.eessi.io, icelake, cascadelake

#1071 {2023.06}[icelake,cascadelake] EasyStacks batch 15: 058 - 059a
  easystacks/software.eessi.io/2023.06/icelake_cclake/058-eb-4.9.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/059a-eb-4.9.2.yml
Labels: bot:deploy, 2023.06-software.eessi.io, icelake, cascadelake

#1080 Icelake cclake batch 15b
  easystacks/software.eessi.io/2023.06/icelake_cclake/059b-eb-4.9.2.yml
Labels: bot:deploy, 2023.06-software.eessi.io, icelake, cascadelake

#1072 {2023.06}[icelake,cascadelake] EasyStacks batch 16: 060 - 068
  easystacks/software.eessi.io/2023.06/icelake_cclake/060-eb-4.9.3.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/061-eb-4.9.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/062-eb-4.9.3.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/063-eb-4.9.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/064-eb-4.9.3.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/065-eb-4.9.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/066-eb-4.9.4.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/067-eb-4.9.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/068-eb-4.9.4.yml
Labels: bot:deploy, 2023.06-software.eessi.io, icelake, cascadelake

#1036 {2023.06}[2023a,a64fx] add Siesta 5.2.2
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-5.0.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#1030 Build CUDA + OSU-Micro-Benchmarks GPU software for supported combinations of CPU and CUDA compute capability 70
  easystacks/software.eessi.io/2023.06/accel/nvidia/eessi-2023.06-eb-4.9.4-cc70-CUDA.yml
Labels: bot:deploy, 2023.06-software.eessi.io, accel:nvidia

#1076 Build CUDA + OSU-Micro-Benchmarks GPU software for supported combinations of CPU and CUDA compute capability 80
  easystacks/software.eessi.io/2023.06/accel/nvidia/eessi-2023.06-eb-4.9.4-cc80-CUDA.yml
Labels: bot:deploy, 2023.06-software.eessi.io, accel:nvidia

#1077 Build CUDA + OSU-Micro-Benchmarks GPU software for supported combinations of CPU and CUDA compute capability 90
  easystacks/software.eessi.io/2023.06/accel/nvidia/eessi-2023.06-eb-4.9.4-cc90-CUDA.yml
Labels: bot:deploy, 2023.06-software.eessi.io, accel:nvidia

#1067 Rebuild Pillow 10.x to enable support for LittleCMS2 and WebP
  easystacks/software.eessi.io/2023.06/rebuilds/20250502-eb-4.9.4-Pillow-enable-LittleCMS2-and-WebP-support.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#1073 {2023.06}[icelake,cascadelake] EasyStacks batch 17: 069 - 071
  easystacks/software.eessi.io/2023.06/icelake_cclake/069-eb-4.9.2.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/070-eb-4.9.4.yml
  easystacks/software.eessi.io/2023.06/icelake_cclake/071-eb-5.0.0.yml
Labels: bot:deploy, 2023.06-software.eessi.io, ready-to-review, icelake, cascadelake

#1089 Fix EB4 related warning for hooks
  eb_hooks.py
Labels: bot:deploy

#1060 {2023.06}[2023a,a64fx] second batch of apps originally built with EB 4.9.1
  det_submit_opts.py
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.4-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#1061 {2023.06}[2023b,a64fx] Qt5 5.15.13
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.4-2023b.yml
  eb_hooks.py
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#1090 {2023.06}[system] EasyBuild 5.1.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-5.0.0-001-system.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#1081 {2023.06}[system] MAQAO 2.21.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-5.0.0-001-system.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#1084 Add archdetect support for icelake and cascadelake
  init/arch_specs/eessi_arch_x86.spec
  tests/archdetect/x86_64/intel/cascadelake/AWS-Rocky8-8259CL.all.output
  tests/archdetect/x86_64/intel/cascadelake/AWS-Rocky8-8259CL.cpuinfo
  tests/archdetect/x86_64/intel/cascadelake/AWS-Rocky8-8259CL.output
  tests/archdetect/x86_64/intel/icelake/AWS-Rocky8-8375C.all.output
  tests/archdetect/x86_64/intel/icelake/AWS-Rocky8-8375C.cpuinfo
  tests/archdetect/x86_64/intel/icelake/AWS-Rocky8-8375C.output
  tests/archdetect/x86_64/intel/sapphirerapids/AWS-Rocky8-8488C.all.output
Labels: bot:deploy, icelake, cascadelake
