Repository EESSI/software-layer, pull requests merged in 2025-08, with the labels that each got.

#1153 {2023.06}[2023b,a64fx] Lit and Astropy
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.4-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#1146 {2025.06} GCC 13.3.0 + 14.2.0
  easystacks/software.eessi.io/2025.06/eessi-2025.06-eb-5.1.1-2024a.yml
  easystacks/software.eessi.io/2025.06/eessi-2025.06-eb-5.1.1-2025a.yml
Labels: bot:deploy, 2025.06-software.eessi.io

#1157 {2023.06}[2023a] MrBayes
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-5.1.1-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#1160 {2025.06} gfbf/2024a + FFTW 3.3.10
  easystacks/software.eessi.io/2025.06/eessi-2025.06-eb-5.1.1-2024a.yml
Labels: bot:deploy, 2025.06-software.eessi.io
