Repository EESSI/software-layer, pull requests merged in 2025-06, with the labels that each got.

#1093 Added hook to restore filtered deps for LLVM builds
  eb_hooks.py
Labels: bot:deploy

#1113 {2023.06}[foss/2023a] OpenFOAM v12
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-5.1.0-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#1119 Only include files modified by the PR in tarball
  EESSI-install-software.sh
  install_scripts.sh
Labels: ready-to-review

#1123 {2023.06}[GCC/13.2.0] BWA 0.7.18
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-5.1.0-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#1127 {2023.06}[2023b] Ginkgo 1.9.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-5.1.0-2023b.yml
Labels: bot:deploy, EuroHPC

#1130 {2023.06}[foss/2023b] HeFFTe 2.4.1
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-5.1.0-2023b.yml
Labels: bot:deploy, 2023.06-software.eessi.io
