Repository EESSI/software-layer, pull requests merged in 2025-10, with the labels that each got.

#1211 {2025.06}[2024a] Python-bundle-PyPI 2024.06
  easystacks/software.eessi.io/2025.06/eessi-2025.06-eb-5.1.2-2024a.yml
Labels: bot:deploy, 2025.06-software.eessi.io

#1208 {2023.06}[foss/2023a] GRASS v8.4.0
  easystacks/software.eessi.io/2023.06/eessi-2023.06-eb-5.1.2-2023a.yml
Labels: bot:deploy, 2023.06-software.eessi.io

#1214 {2023.06}[2022b, a64fx] LLVM 15.0.5
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.8.2-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#1215 {2023.06}[2022b, a64fx] Rebuild Rust 1.65.0 and Python 3.10.8
  easystacks/software.eessi.io/2023.06/rebuilds/20251003-eb-4.8.2-Rust-1.65.0-a64fx-with-optarch.yml
  easystacks/software.eessi.io/2023.06/rebuilds/20251003-eb-4.9.2-Python-3.10.8-ctypes-and-correct-Rust-dep-a64fx.yml
  eessi-2023.06-known-issues.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx

#1217 {2023.06}[2022b,a64fx] SciPy-bundle 2023.02 and Highway 1.0.3
  easystacks/software.eessi.io/2023.06/a64fx/eessi-2023.06-eb-4.9.4-2022b.yml
Labels: bot:deploy, 2023.06-software.eessi.io, a64fx
